.title {
  text-align: center;
  padding: 1em 0;
  border-bottom: 0;
}

.big-menu {
  width: 100%;
  display: grid;
  place-items: center;

  .links {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    padding: 0;

    li {
      margin: 0;
      list-style: none;
      flex-basis: auto;
      flex-grow: 1;
    }
  }
}

@media screen and (max-width: 767px) {
  .title {
    text-align: left;
  }

  .big-menu {
    place-items: start;

    .links {
      li {
        min-width: 100%;
      }
    }
  }
}
